.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.circularProgressContainer {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 20px
}

.container {
  margin-left: auto;
  display: flex;
  align-items: center
}



