.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.circularProgressContainer {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 20px
}

.container {
  margin-left: auto;
  display: flex;
  align-items: center
}



